@* Model binding voor lijst van gebruikers *@
@model IEnumerable<DataAccessLayer.Models.User>

@{
    // Titel van de admin panel pagina
    ViewData["Title"] = "admin pannel";
}

@* Gebruiker beheer pagina titel *@
<h1>User Manager</h1>

@* Nieuwe gebruiker aanmaken knop *@
<p>
    <a asp-action="Create"><button class="btn btn-primary">Create New</button></a>
</p>

@* Gebruikers overzicht tabel *@
<table class="table">
    @* Tabel header met kolomnamen *@
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permissions)
            </th>
            <th></th>
        </tr>
    </thead>
    
    @* Tabel body met gebruikersgegevens *@
    <tbody>
        @* Loop door alle gebruikers *@
        @foreach (var item in Model)
        {
            <tr>
                @* Gebruiker ID *@
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                @* Gebruikersnaam *@
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                @* Gebruiker permissies *@
                <td>
                    @Html.DisplayFor(modelItem => item.Permissions)
                </td>
                @* Actie knoppen voor bewerken en verwijderen *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-primary">Edit</button></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-primary">Delete</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>