@* Model binding voor lijst van logregels *@
@model IEnumerable<DataAccessLayer.Models.Log>

@{
    // Titel van de logs overzichtspagina
    ViewData["Title"] = "Index";
}

@* Pagina hoofdtitel *@
<h1>Logs</h1>

@* Tabel met alle logregels *@
<table class="table">
    @* Tabel header met kolomnamen *@
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
    </tr>
    </thead>
    @* Tabel body met loggegevens *@
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
        </tr>
    }
    </tbody>
</table>