@model DataAccessLayer.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            Prijs
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsDiscountActive)
            {
                <span style="color: red; font-weight: bold;">@Model.DiscountedPrice</span>
                <span style="text-decoration: line-through; color: gray;">@Model.Price</span>
            }
            else
            {
                @Model.Price
            }
        </dd>

        <dt class="col-sm-2">
            Korting
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsDiscountActive)
            {
                <span>@Model.Discount % (Korting actief!)</span>
            }
            else
            {
                <span>-</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><button class="btn btn-primary">Edit</button></a>
    <a asp-action="index" asp-route-id="/index"><button class="btn btn-primary">Back to List</button></a>
</div>