@model DataAccessLayer.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiscountDuration)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiscountStartTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><button class="btn btn-primary">Edit</button></a>
    <a asp-action="index" asp-route-id="/index"><button class="btn btn-primary">Back to List</button></a>
</div>