@model IEnumerable<DataAccessLayer.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Product Manager</h1>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Create New</button></a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Prijs
        </th>
        <th>
            Korting
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.IsDiscountActive)
                {
                    <span style="color: red; font-weight: bold;">@item.DiscountedPrice</span>
                    <span style="text-decoration: line-through; color: gray;">@item.Price</span>
                }
                else
                {
                    @item.Price
                }
            </td>
            <td>
                @if (item.IsDiscountActive)
                {
                    <span>@item.Discount % (Korting actief!)</span>
                }
                else
                {
                    <span>-</span>
                }
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-primary">More info</button></a>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-primary">Edit</button></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-primary">Delete</button></a>
            </td>
        </tr>
    }
    </tbody>
</table>